body {
  background-color: black;
}

.jumbotron{
  background-color: black;
  color: white;
}
h1 {
  font-family: 'Codystar', cursive;
  font-size: 84px;
  color: white;
}

h3 {
  font-size: 12px;
  color: white;
}
h4 {
  font-size: 23px;
  color: white;
  font-family: 'Love Ya Like A Sister', cursive;
}
p {
font-family: 'Codystar', cursive;
color: white;
font-size: 16px;

}

.panel-danger>.panel-heading {
  color: black;
  background-color: red;
}

input {
  font-family: 'Love Ya Like A Sister', cursive;
  color: white;
}
h2  {
  color: white;
  font-family: 'Love Ya Like A Sister', cursive;
}
#table-body {
  font-family: 'Love Ya Like A Sister', cursive;
  color: white;
}
.panel-body {
  background-color: black;
}
#submit {
  background-color: black;
}
#email_su_input {
  background-color: black;
  color: white;
}
#password_su_input {
  background-color: black;
  color: white;
}
#password_si_input {
  background-color: black;
  color: white;
}
#logout_button {
  background-color: black;
  color: white;
}
#sign_up_form {
  color: white;
}

#email_si_input {
  background-color: black;
  color: white;
}
#zip_su_input {
  background-color: black;
  color: white;
}
input {
  color: white;
}
button {
  margin-right: .3em;
  font-family: 'Love Ya Like A Sister', cursive;
}

.form {
  margin-left: 720px;
  width: 600px;
  height: 200px;
  background-color: black;

}
.title {
  margin-right: 0px;

}

.carousel {
  background: black;
}

.carousel-image {
  display: block;
  height: 300px;
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  top: 50%;
  transform: translateY(-50%)
}

.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
} */
