.scale-media {
    padding-bottom: 56.25%;
    position: relative;
}

.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}