/* external css: flickity.css, fullscreen.css */

* { box-sizing: border-box; }

.carousel {
  background: #eee;
}

.carousel-image {
  display: block;
  height: 300px;
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  top: 50%;
  transform: translateY(-50%)
}

.carousel-image:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}

.breakRow {
  margin-top: 3em;
}

.mvTitle {
  color: white;
  font-size: 2em;
}

.trailer-video-container {
  padding-top: 2em;
}

.trailer-video-container:hover {
  background-color: rgb(66, 65, 65);
  cursor: pointer;
}



body {
  background-color: black;
}


h1 {
  font-size: 60px;
}

h3 {
  font-size: 12px;
  color: white;
}
h4 {
  font-size: 2em;
  color: white;
}

.panel-heading {
color: grey;

}

.form {
  margin-left: 720px;
 opacity: .8;
}
